.nav {
  list-style: none;
  width: 100%;
  text-align: left;
}

.nav__list {
  position: absolute;
  right: 0;
  opacity: 0.9;
  background-color: grey;
}

.nav__list.visible {
  margin-top: -50px;
  display: block;
}

.nav__item {
  text-align: center;
  width: 15%;
  display: inline-block;
  list-style-type: none;
}

.nav__item img {
  width: 25%;
  vertical-align: bottom;
}

.item__val {
  display: block;
  font-size: 1rem;
  padding: 10px;
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
}
